.start-game-btn {
  max-width: 120px;
  text-align: center;
}

.content {
  padding: 10px;
}

.card {
  height: 100px;
}

.selected-card {
  background-color: lightskyblue;
  color: white !important;
}

.letter {
  width: 100%;
  height: 100%;
  font-size: 48px;
  font-weight: 800;
  color: lightskyblue;
}

.score-card {
  width: 100px;
  height: 100px;
}

.board-size {
  height: 80vh;
}
