.card-content {
  font-size: 52px;
  text-align: center;
  margin-top: 30px;
}

.snackbar-success {
  background-color: #b5ebcc;
  border-color: #3c763d;
  color: #3c763d;
  .mat-simple-snackbar-action {
    color: #3c763d !important;
  }
}

.snackbar-error {
  background-color: #fdc8bf;
  border-color: #d9534f;
  color: #d9534f;
  .mat-simple-snackbar-action {
    color: #d9534f !important;
  }
}
