.title {
  padding-top: 40px;
  color: lightskyblue;
  font-size: xx-large;
  font-weight: bold;
}

.paragraph {
  font-size: 18px;
  font-weight: 400;
}

.btn-typography {
  font-size: 16px;
  font-weight: 400;
}

.words-list {
  font-size: 16px;
  font-weight: 400;
  color: lightskyblue;
}
