<div fxLayout="column" fxLayoutGap="20px">
  <div fxLayout fxLayoutAlign="center">
    <p class="title">Play Boggle Game!</p>
  </div>

  <div fxLayout fxLayoutAlign="center">
    <div>
      <img
        src="../assets/images/boggle.png"
        width="500px"
        height="380px"
        class="pt-50 pb-50"
      />
    </div>
  </div>

  <div fxLayout fxLayoutAlign="center">
    <button
      class="btn-blue btn-typography single-player-btn"
      mat-raised-button
      class="btn-blue"
      (click)="openSinglePlayerGame()"
    >
      Single Player
    </button>
  </div>
</div>
